<div class="row justify-content-lg-center g-3">
    <h2 class="text-white p-3 text-center mt-5">Contact Details</h2>

    <form method="POST" class="col-lg-6 col-md-10 col-sm-10">

        <div class="input-group mb-3">
            <span class="input-group-text" id="name">Name</span>
            <input id="name" type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="Name"
            name="name" value="<%= contact.name %>" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="phone">Phone</span>
            <input id="phone" type="text" class="form-control" placeholder="Phone Number" aria-label="Phone" aria-describedby="Phone Number"
            name="phone" value="<%= contact.phone %>" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="email">Email</span>
            <input id="email" type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="Email"
            name="email" value="<%= contact.email %>" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="message">Message</span>
            <input id="message" type="text" class="form-control" placeholder="Message" aria-label="Message" aria-describedby="Message"
            name="message" value="<%= contact.message %>" required>
        </div>

        <button type="submit" class="btn btn-primary" id="editButton"><i class="fas fa-edit fa-lg"></i> Edit</button>
        
    </form>
</div>
